@import url('https://fonts.googleapis.com/css?family=Raleway');

#primary-nav{

background-color: #343a40;

}

#frontpage h1{
  color:pink;
}


.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

#selectiontop{
padding-top: 50px;

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url('../img/office-820390_960_720.jpg') top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background-size: cover;
    background-position: center;

}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  	height: 450px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}



.vertical-center {

  display: flex;
  align-items: center;
}



html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}

h4 {
  font-weight: bold;
}

p{
font-size: 14pt;
line-height: 1.7em;
}




html, body {
    height: 100%;
    background-color: #343a40;
}

a {
color:pink;

}

.content {
background-color: #343a40;
padding-top: 80px;
}

.contentcase {
background-color: white;
}



.link:hover {
  color: black;
}

.tester:hover .overlay {
  opacity: 1;
}

.tester {
  position: relative;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



@media (min-width: 992px) {

	#frontpage h1{
	font-size: 5.5rem;
	}

}

@media (min-width: 40em) {
  /* Bump up size of carousel content */


  .featurette-heading {
    font-size: 50px;

  }
}
